.homeDiv {
  display: flex;
}

.userForm {
  width: 350px;
  min-width: 150px;
  padding: 1rem;
  background-color: #f3f3f3;
  text-align: center;
}

.userForm form {
  margin-bottom: 1rem;
}

.userList {
  width: 100%;
}

.smallCard {
  background-color: white;
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid rgb(231, 231, 231);
}

.smallCard:hover {
  border-color: #81b6e9;
}

.smallCard p {
  margin: 0;
  text-align: left;
}

#aboutUs {
  font-size: 20px;
  padding: 70px;
}
